*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "spades hearts" "diams clubs";
    grid-gap: 10px;
    width: 98vw;
    height: 98vh;
    margin: 1vh 1vw;
}

.spades {
    grid-area: spades;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

.hearts {
    grid-area: hearts;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

.diams {
    grid-area: diams;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

.clubs {
    grid-area: clubs;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
}

.fullIcon {
    display: block;
    height: 90vmin;
    width: 90vmin;
    margin: 5vmin auto;
}
